{
  "presets": [
    ["@babel/preset-env", { 
      "modules": false, 
      "corejs": 3, 
      "useBuiltIns": false
    }],
    "@babel/react",
    "@babel/typescript"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/proposal-numeric-separator",
    "@babel/transform-runtime",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ]
}

